*{
    /* border: 1px solid red; */

}
body{
    margin: 0;
    box-sizing: border-box;
}
#header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
   
    
}

.logo{
    color:#F9FAF8;
    font-size: 24px;
}
ul{
    display: flex;
    gap:10px;
    list-style: none;
}
a{
   
    text-decoration: none;
}
h1{
    color: #f9faf8;
}
a,p{
    color: #e5e7eb;
    font-size: 18px;
}
h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
    
}
button{
    background-color: #3882f6;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #F9FAF8;
    font-weight: bolder;
    border:0;
}

#tab{
    gap:10px;
    display: flex;
    justify-content: space-between;
    
}
.daddy{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50PX;
    
}
.h2{
    flex-wrap: wrap;
    border-color: #e5e7eb;
    
}
.img{
    align-self: center;
}


