body{
    background-color: #EBEBEB;
   
}
/* *{
    /* border: 2px solid red;
   
} */ 
.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:7.5%;     
}
h1{
    border-radius: 6px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    text-shadow: 3px 3px black;
    
    color: #F9FAF8;
    width: 300px;
}
.part1{
    border-radius: 8PX;
    background-color: #1F2937; 
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: flex-end;
}
#join,#info{
    
    padding: 6px;
    padding-right: 0;
  
   
}
#join{
    width:fit-content ;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 28px;
    color: #F9FAF8;
    border-bottom:5px solid #e5e7eb;
    
}
#info{
    padding: 16PX;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 19PX; 
    color: #F9FAF8;
    text-align: right;
    padding-right: 0;
}
.inmain{
    border-radius: 24px;
    background-color:#1F2937;
    border: 2px solid #e5e7eb;
    gap: 5px;
    display: flex;
    width: 35%;
    height: 350px;
    padding: 24px;
}
.part2{ 
    
   
    width: 70%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    gap: px;
    border-radius: 24PX;
    background-color:white;
    padding: 30px;
    padding-top: 16px;
    
}
.f1{
    margin-top: 30px;
}
input{
   height: 20px;
    margin-top: 5px;
    border: 0;
   border-bottom:1px solid black;
   /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
   mix-blend-mode:normal;
 
    
}
input:focus{
    border-bottom: 3px solid #555;
    
}
#part2head{
    font-size: large;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}
form{
    font-family: 'Raleway', sans-serif
}

#submit{
    margin-left: 50px;
    background-color: #3882f6;
    color: #F9FAF8;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 10px;
   padding-right: 10px;
   font-family: 'Raleway', sans-serif;
   border: 0;
   border-radius: 24px;
   margin-top: 30px;
}
#submit:hover{
   
    background-color: crimson
    
}
